<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div style="display: flex; justify-content: space-around;">
        <div>
            <h1>Registration</h1>
            <form action="/register" method="post">
                {% csrf_token %}
                <table>
                    <tr><td>First Name</td><td><input type="text" name="first_name"></td></tr>
                    <tr><td>Last Name</td><td><input type="text" name="last_name"></td></tr>
                    <tr><td>Birthday</td><td><input type="date" name="birthday"></td></tr>
                    <tr><td>Email</td><td><input type="text" name="email"></td></tr>
                    <tr><td>Password</td><td><input type="password" name="password"></td></tr>
                    <tr><td>Confirm PW</td><td><input type="password" name="conf_pass"></td></tr>
                </table>
                <input type="submit" value="Register">
            </form>
        </div>
        <div>
            <h1>Login</h1>
            <form action="/login" method="post">
                {% csrf_token %}
                <table>
                    <tr><td>Email</td><td><input type="text" name="email"></td></tr>
                    <tr><td>Password</td><td><input type="password" name="password"></td></tr>
                </table>
                <input type="submit" value="Log In">
            </form>
        </div>
    </div>
    <div style="display: flex; justify-content: space-around;">
        {% if messages %}
        <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>